.circleStyle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    align-items: center;
}
.door{
    display: flex;
}