.container {
    width: 30%;
    margin: 20px;
    position: relative;
}

.info{
    width: 50%;
    position: absolute;
    bottom: 3px;
}

.image {
    width: 20vw;
    height: 50vh;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.1);
}

.wrapper {
    width: 80vw;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.containerBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}