.container {
    width: 30%;
    margin: 20px;
    position: relative;
}

.info{
    width: 50%;
    position: absolute;
    bottom: 3px;
}

.image {
    width: 20vw;
    height: 50vh;
    object-fit: cover;
}

.wrapper {
    width: 80vw;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: lavender;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #8a8ad3;
}

.btn {
    width: 20vw;
    height: 5vh;
    opacity: 0.2;
    background-color: lavender;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.5;
    background-color: #8a8ad3;
}