.container {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

html[data-theme='light'] .container {
    background-color: lavender;
}

html[data-theme='dark'] .container {
    background-color: #30124d;
}